* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.no-scroll {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  font-size:var(--button-size);
}

h1{
  font-size:var(--h1-text-size);
  font-weight:500;
}
h2{
  font-size:var(--h2-text-size);
  font-weight:600;
}
h3{
  font-size:var(--h3-text-size);
  font-weight:600;
}
h4{
  font-size:var(--h4-text-size);
  font-weight:500;
}
h5{
  font-size:var(--h5-text-size);
  font-weight:500;
}
p, li{
  font-size:var(--p-desktop-text-size);
  font-weight:500;
}

@media(max-width:768px){
  p, li{
    font-size:var(--p-mobile-text-size);
  }
}

button{
  font-size:var(--button-size);
}